@model HomeIndexViewModel
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/home/addword">Add Word</a>
            </li>
        </ul>
        <form asp-controller="Home" asp-action="Index" class="form-inline my-2 my-lg-0">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Order
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/home/index?sortType=AzerbaijanAtoZ">Order By Azerbaijan Alphabet A to Z</a>
                    <a class="dropdown-item" href="/home/index?sortType=AzerbaijanZtoA">Order By Azerbaijan Alphabet Z to A</a>
                    <a class="dropdown-item" href="/home/index?sortType=EnglishAtoZ">Order By English Alphabet A to Z</a>
                    <a class="dropdown-item" href="/home/index?sortType=EnglishZtoA">Order By English Alphabet Z to A</a>
                    <a class="dropdown-item" href="/home/index?sortType=date">Order By Date</a>
                </div>
            </div>
            <input asp-for="Key" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0">Search</button>
        </form>
    </div>
</nav>
